<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/img/favicon.ico">
        <title>Team 4099</title>

        {% include topImports.html %}
    </head> 

    <body class="">
        <div class="h-screen bg-[#03001C]">
            {% include navbar.html %}

            <div class="w-full text-center mt-20">
                <h1 class="text-5xl lg:text-7xl md:text-5xl sm:text-4xl font-bold mb-3" style="color:#efae04">Team 4099</h1>
                <h2 class="text-3xl lg:text-5xl md:text-3xl sm:text-2xl font-bold md:mb-20 mb-5" style="color:#ffffff">The Falcons</h1>
                <h3 class="text-2xl lg:text-3xl md:text-2xl sm:text-xl text-white w-2/3 mx-auto md:mb-20 mb-5">
                    Team 4099 is a FIRST robotics team based out of Poolesville High School. 
                    We provide an inclusive, student-led environment for students to learn real-world engineering skills.
                </h3>
                <button type="button" class="mr-2 focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-semibold rounded-lg text-xl px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-600 inline" style="background-color:#efae04">About Us</button>
                <button type="button" class="ml-2 focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-semibold rounded-lg text-xl px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-600 inline" style="background-color:#efae04">Camps</button>
            </div>
        </div>

        <div id="robotAnimationSpace" class="bg-[#03001C]">
            <h1 class="text-5xl lg:text-7xl md:text-5xl sm:text-5xl font-bold text-center" style="color:#ffffff">Introducing
                <span class="text-transparent bg-clip-text bg-gradient-to-b from-orange-500 to-yellow-300">
                    Kestrel
                </span>
            </h1>
            <canvas id="robotAnimationCanvas" class="w-1/2 h-screen float-left"></canvas>
            <div class="float-right w-1/2">
                <div id="intakeName">
                    <h2 class="z-20  text-4xl lg:text-6xl md:text-5xl sm:text-3xl font-bold pt-24 text-white float-right w-full">
                        Intake
                    </h2>
                    <p class="z-20 w-2/3 text-xl lg:text-2xl md:text-2xl sm:text-lg font-medium pt-10 text-white float-left w-full">
                        Flexible, pneumatics-based intake with four bar actuation and an automated LED system for count of cargo.
                    </p>
                </div>
                <div id="climberName">
                    <h2 class="z-20  text-4xl lg:text-6xl md:text-5xl sm:text-3xl font-bold pt-24 text-white float-right w-full">
                        Climber
                    </h2>
                    <p class="z-20 w-2/3 text-xl lg:text-2xl md:text-2xl sm:text-lg font-medium pt-10 text-white float-left w-full">
                        Two telescoping arms and two pivoting arms climber for traversal rung. Achieves a consistent automated climb in under 12 seconds.
                    </p>
                </div>
                <div id="shooterName">
                    <h2 class="z-20  text-4xl lg:text-6xl md:text-5xl sm:text-3xl font-bold pt-24 text-white float-right w-full">
                        Shooter
                    </h2>
                    <p class="z-20 w-2/3 text-xl lg:text-2xl md:text-2xl sm:text-lg font-medium pt-10 text-white float-left w-full">
                        Fixed-position shooter hood designed for fender shots. Reaches 45 feet high at full power.
                    </p>
                </div>
                <div id="drivetrainName">
                    <h2 class="z-20  text-4xl lg:text-6xl md:text-5xl sm:text-3xl font-bold pt-24 text-white float-right w-full">
                        Drivetrain
                    </h2>
                    <p class="z-20 w-2/3 text-xl lg:text-2xl md:text-2xl sm:text-lg font-medium pt-10 text-white float-left w-full">
                        MK4i flipped swerve modules with a L2 gear ratio, drivetrain with low center of gravity for good defense.
                    </p>
                </div>
                <div id="upcomingName">
                    <h2 class="z-20  text-4xl lg:text-6xl md:text-5xl sm:text-3xl font-bold pt-24 text-white float-right w-full">
                        Upcoming
                    </h2>
                    <p class="z-20 w-2/3 text-xl lg:text-2xl md:text-2xl sm:text-lg font-medium pt-10 text-white float-left w-full">
                        Watch us compete at IRI on July 17th - 18th and at Chezy Champs on Sept 24th - 25th.
                    </p>
                </div>
            </div>
        </div>
        <script src="/js/home.js"></script>
    </body>
</html>