<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/img/favicon.ico">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
        <title>Team 4099</title>

        {% include analytics.html %}
        <meta name="google-site-verification" content="dCfBdBGX9odX6CjYJ0gxzFrNT9HOr5RVIX00493lf2A"/>
    </head>

    <body class="">
        <div class="h-screen bg-black">
            <nav class="border-gray-200 px-2 sm:px-4 py-3 bg-black">
                <div class="container flex flex-wrap justify-between items-center mx-auto">
                    <a href="https://flowbite.com" class="flex items-center">
                        <img src="/img/gearLogo.svg" class="mr-3 h-10 sm:h-12" alt="Flowbite Logo">
                        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Team 4099</span>
                    </a>
                    <button data-collapse-toggle="mobile-menu" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                        <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                    <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
                        <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                            <li>
                                <a href="#" class="block text-xl font-semibold py-2 pr-4 pl-3 text-white bg-white rounded md:bg-transparent md:text-white md:p-0" aria-current="page">About</a>
                            </li>
                            <li>
                                <a href="#" class="block text-xl font-semibold py-2 pr-4 pl-3 text-white border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-white md:p-0">Camps</a>
                            </li>
                            <li>
                                <a href="#" class="block text-xl font-semibold py-2 pr-4 pl-3 text-white border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-white md:p-0 ">Programs</a>
                            </li>
                            <li>
                                <a href="#" class="block text-xl font-semibold py-2 pr-4 pl-3 text-white border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-white md:p-0">Resources</a>
                            </li>
                            <li>
                                <a href="#" class="block text-xl font-semibold py-2 pr-4 pl-3 text-white hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-white md:p-0">Support Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="w-full text-center mt-20">
                <h1 class="text-5xl lg:text-7xl md:text-5xl sm:text-4xl font-bold mb-3" style="color:#efae04">Team 4099</h1>
                <h2 class="text-3xl lg:text-5xl md:text-3xl sm:text-2xl font-bold md:mb-20 mb-5" style="color:#ffffff">The Falcons</h1>
                <h3 class="text-2xl lg:text-3xl md:text-2xl sm:text-xl text-white w-2/3 mx-auto md:mb-20 mb-5">
                    Team 4099 is a FIRST robotics team based out of Poolesville High School. 
                    We provide an inclusive, student-led environment for students to learn real-world engineering skills.
                </h3>
                <button type="button" class="mr-2 focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-semibold rounded-lg text-xl px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-600 inline" style="background-color:#efae04">About Us</button>
                <button type="button" class="ml-2 focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-semibold rounded-lg text-xl px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-600 inline" style="background-color:#efae04">Camps</button>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 mt-24 mx-auto" fill="none" viewBox="0 0 24 24" stroke="white">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z"></path>
				</svg>
            </div>
        </div>

        <div id="robotAnimationSpace" class="bg-black">
            <h1 class="text-5xl lg:text-7xl md:text-5xl sm:text-5xl font-bold text-center" style="color:#ffffff">Introducting
                <span class="text-transparent bg-clip-text bg-gradient-to-b from-orange-500 to-yellow-300">
                    Kestrel
                </span>
            </h1>
            <canvas id="robotAnimationCanvas" class="w-1/2 h-screen float-left"></canvas>
            <div class="float-right w-1/2">
                <div id="intakeName">
                    <h2 class="z-20  text-4xl lg:text-6xl md:text-5xl sm:text-3xl font-bold pt-24 text-white float-right w-full">
                        Intake
                    </h2>
                    <p class="z-20 w-2/3 text-xl lg:text-2xl md:text-2xl sm:text-lg font-medium pt-10 text-white float-left w-full">
                        Flexible, pneumatics-based intake with four bar actuation and an automated LED system for count of cargo.
                    </p>
                </div>
                <div id="climberName">
                    <h2 class="z-20  text-4xl lg:text-6xl md:text-5xl sm:text-3xl font-bold pt-24 text-white float-right w-full">
                        Climber
                    </h2>
                    <p class="z-20 w-2/3 text-xl lg:text-2xl md:text-2xl sm:text-lg font-medium pt-10 text-white float-left w-full">
                        Two telescoping arms and two pivoting arms climber for traversal rung. Achieved a consistent automated climb under 12 seconds.
                    </p>
                </div>
                <div id="shooterName">
                    <h2 class="z-20  text-4xl lg:text-6xl md:text-5xl sm:text-3xl font-bold pt-24 text-white float-right w-full">
                        Shooter
                    </h2>
                    <p class="z-20 w-2/3 text-xl lg:text-2xl md:text-2xl sm:text-lg font-medium pt-10 text-white float-left w-full">
                        Fixed-position shooter hood designed for fender shots. Reaches 45 feet high at full power.
                    </p>
                </div>
                <div id="drivetrainName">
                    <h2 class="z-20  text-4xl lg:text-6xl md:text-5xl sm:text-3xl font-bold pt-24 text-white float-right w-full">
                        Drivetrain
                    </h2>
                    <p class="z-20 w-2/3 text-xl lg:text-2xl md:text-2xl sm:text-lg font-medium pt-10 text-white float-left w-full">
                        MK4i flipped swerve modules with a L2 gear ratio, drivetrain with low center of gravity for good defense.
                    </p>
                </div>
                <div id="upcomingName">
                    <h2 class="z-20  text-4xl lg:text-6xl md:text-5xl sm:text-3xl font-bold pt-24 text-white float-right w-full">
                        Upcoming
                    </h2>
                    <p class="z-20 w-2/3 text-xl lg:text-2xl md:text-2xl sm:text-lg font-medium pt-10 text-white float-left w-full">
                        Watch us compete at IRI on May 17th - 18th and at Chezy Champs on Sept 24th - 25th.
                    </p>
                </div>
            </div>
        </div>
        <script src="/js/home.js"></script>
    </body>
</html>