<html lang="en">
        
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/img/favicon.ico">
    
        <title>{{ page.title }} - Team 4099</title>
    
        <!-- Custom styles for this template -->
        {% include topImports.html %}
    </head>
    
    <body>
        <header>
            {% include navbar.html %}
        </header>

        <div class="w-full bg-[#03001C]">
            <div class="w-4/5 mx-auto">
                <div class="pb-4 pt-4">
                    <h2 class="text-4xl font-semibold mb-4 text-[#efae04]">{{ page.title }}</h2>
                </div>

                {% for robot_page in site.robots reversed %}
                    <div class="w-full text-white pb-8">
                        <div class="text-3xl mt-4 mb-4">
                            {{ robot_page.title }}
                        </div>
                        <div class="grid grid-cols-3">
                            <div class="col-span-2 border-t-2 border-gray-500 pt-4 mr-4">
                                {{ robot_page.excerpt }}
                                <br>
                                <br>
                                <a href="{{ robot_page.url }}" class=" mr-2 focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-semibold rounded-lg text-xl px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-600 inline bg-[#efae04]">Read More</a>
                            </div>
                            <div class="col-span-1">
                                <img class="rounded-lg" src="{{ robot_page.image_url }}" alt="{{ robot_page.year }} Robot">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% include bottomImports.html %}
        
    
    </body>
        
</html>